<div class="sidebar-menu-container">
  <div class="sidebar-menu-logo-container">
    <h1>NC CONTROL</h1>
    <p>ALGUM SUBTITULO OU SLOGAN</p>
  </div>
  <div class="pages-links-container">
    <ul>
      <li>
        <a class="sidebar-menu-links" routerLink="/app/dashboard">
          <span class="material-symbols-outlined">dashboard</span>
          <span>DASHBOARD</span>
        </a>
      </li>
      <li>
        <a class="sidebar-menu-links" routerLink="/app/ncs">
          <span class="material-symbols-outlined">assignment_late</span>
          <span>NÃO CONFORMIDADES</span>
        </a>
      </li>
      <li>
        <a class="sidebar-menu-links" routerLink="/app/users">
          <span class="material-symbols-outlined">group</span>
          <span>USUÁRIOS</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="options-container">
    <ul>
      <li>
        <a class="sidebar-menu-links" routerLink="/app/profile">
          <span class="material-symbols-outlined">account_circle</span>
          <span>MEU PERFIL</span>
        </a>
      </li>
      <li>
        <a class="sidebar-menu-links">
          <span class="material-symbols-outlined">help</span>
          <span>AJUDA</span>
        </a>
      </li>
      <li>
        <a class="sidebar-menu-links" (click)="onLogout()">
          <span class="material-symbols-outlined">logout</span>
          <span>LOGOUT</span>
        </a>
      </li>
    </ul>
  </div>
</div>
