.info-card-wrapper {
    width: 100%;
    min-height: 128px;
    border: 3px solid var(--primary-border-color);
}

.info-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px;
}

.info-card-data {
    display: flex;
    gap: 8px;
    align-items: baseline;
}

.info-card-number {
    font-size: 48px;
    font-weight: 700;
}

.info-card-succes-border {
    border-top: 6px solid var(--tertiary-color);
}

.info-card-alert-border {
    border-top: 6px solid var(--alert-color);
}

.info-card-warn-border {
    border-top: 6px solid var(--warn-color);
}

.info-card-medium-border {
    border-top: 6px solid var(--medium-color);
}

.info-card-common-border {
    border-top: 6px solid var(--common-color);
}