.footer-wrapper p{
    display: flex;
    justify-content: center;
    color: var(--secondary-border-color);
    border-top: 2px solid var(--secondary-border-color);
    height: 3vh;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
}

