<div class="dashboard-page">
  <div class="dashboard-title">
    <h1>DASHBOARD</h1>
  </div>
  @if (dashboardCounts) {
    <div class="dashboard-cards-container">
      <info-card label="TOTAL NCS ABERTAS" [value]="dashboardCounts.openNonConformities" type="common" icon="list_alt"></info-card>
      <info-card label="GRAVIDADE CRÍTICA/ALTA" [value]="dashboardCounts.warningNonConformities" type="alert" icon="warning"></info-card>
      <info-card label="PRAZO VENCIDO" [value]="dashboardCounts.expiredNonConformities" type="medium" icon="schedule"></info-card>
      <info-card label="ENCERRADAS NO MÊS" [value]="dashboardCounts.closedNonConformities" type="success" icon="task_alt"></info-card>
    </div>
  }
  <div class="dashboard-content">
    <div class="dashboard-nc-list">
      <div class="dashboard-table-container">
        <div class="dashboard-table-title">
          <span>NCS RECENTES</span>
        </div>
        <table class="dashboard-table">
          <thead>
            <tr>
              <th>NUM NC</th>
              <th>TÍTULO</th>
              <th>GRAVIDADE</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>
            @for (nc of nonConformities; track nc.id) {
              <tr>
                <td>{{ nc.number }}</td>
                <td>{{ nc.title }}</td>
                <td><bagde-component [severity]="nc.severity"></bagde-component></td>
                <td><span>{{ getStatusLabel(nc.status) }}</span></td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="dashboard-ranking-container">
      <div class="dashboard-table-title">
        <span>RANKING DE DESVIOS</span>
      </div>

      <div class="dashboard-ranking">
        <div class="ranking-subtitle">TOP 3 OCORRÊNCIAS</div>

        @for (rank of dashboardRanking; track rank.type; let i = $index) {
          <div class="ranking-item">
            <div [class]="'ranking-position rank-' + (i + 1)">{{ i + 1 }}</div>

            <div class="ranking-info">
              <span class="ranking-title">{{ rank.name }}</span>
              <span class="ranking-count">{{ rank.total }} OCORRÊNCIAS</span>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
